.login-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    text-align: left;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container > input {
    margin: 2% 0;
    height: 36px;
    border-radius: 8px;
    border: 2px solid black;
}

.form-container > button {
    background-color: #000000;
    height: 36px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 600;
    margin: 4% 0;

    -webkit-box-shadow: 4px 4px 0px 0px #BEBEB6;
    -moz-box-shadow: 4px 4px 0px 0px #BEBEB6;
    box-shadow: 4px 4px 0px 0px #BEBEB6;
}

.form-container > button:hover {
    padding-bottom: 2%;
    cursor: pointer;
}

.form-container > button:active {
    color: #FFBF38;
}

.nav-link{
    color: #3080D7;
}

