.current-project-container {
    width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-project-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF5837;
    width: 70%;
    font-size: 1rem;
    padding: 0px 10px;
    margin-top: 5%;
    border: 4px solid black;
}

.no-project {
    background-color: #BEBEB6;
}

.time-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 24px; */
}

.time-container > button {
    margin-left: 12px;
    cursor: pointer;
}

.start-button,
.stop-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    color: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.start-button {
    background-color: rgb(17, 119, 3);
}

.stop-button {
    background-color: #FFBF38;
}

@media only screen and (max-width: 960px) {
    .current-project-container {
        width: 600px;
    }

    .current-project-card {
        font-size: 0.8rem;
    }

    .start-button,
    .stop-button {
        width: 35px;
        height: 35px;
    }
}