.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #121317;
    color: white;
    font-size: 1rem;
    width: 100%;
}

.header-container > * {
    font-weight: 600;
    padding: 18px 32px;
}

.header-container > h3 > span {
    color: #AEE8F1;
}

.header-container > div > button {
    background-color: #121317;
    border: none;
    color: white;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.header-container > div  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container > div > div {
    margin-left: 28px;
}