nav {
    width: 900px;
    margin: 4% 0% 1% 0%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.nav-item {
    border: 4px solid rgba(0, 0, 0, 0);
    margin-right: 12px;
    padding: 4px;
    text-decoration: none;
    font-weight: 600;
    box-sizing: border-box;
}
.nav-item:visited {
    color: black;
}

.nav-item:hover {
    color: black;
    border: 4px solid #FF5837;
    box-sizing: border-box;
}

.active {
    border: 4px solid black;
    color: black;
}

/* dark styles */

.nav-item-dark {
    margin-right: 12px;
    padding: 4px;
    text-decoration: none;
    font-weight: 600;
    box-sizing: border-box;
}
.nav-item-dark:visited {
    color: #FEFEF3;
}

.nav-item-dark:hover {
    color: #FEFEF3;
    border: 4px solid #FF5837;
    box-sizing: border-box;
}

.active-dark {
    border: 4px solid #FEFEF3;
    color: #FEFEF3;
}

@media only screen and (max-width: 960px) {

    nav {
        width: 450px;
    }
}